.homepage_main {
    background-color: #181717;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.promptContentContainer {
    background-color: black;
    overflow-y: scroll;
    height: 80vh;
}

.prompt_search_result_container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.prompt_search_result_item {
    background-color: #333333;
}

.prompt_input_container {
    background-color: #333333;
    padding: 5px 10px;
    width: 100%;
    min-height: 10vh;
    max-height: 500px;
    align-content: center;
    position: fixed;
    bottom: 0;
    
}

.prompt_input {
    border-radius: 2px;
    background-color: #181717;
    width: 100%;
    color: white;
    padding: 10px;
    resize: none;
    max-height: 400px;
}

.prompt_options_container {
    background-color: #181717;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    height: 40px;
    border-bottom-left-radius: 25;
    border-bottom-right-radius: 25;
}

.prompt_submit_button {
    background-color: rgb(110, 110, 153);
    width: 100px;
    height: inherit;
    border-bottom-right-radius: 25;
}

.prompt_filter_button {
    background-color: rgb(110, 110, 153);
    width: 100px;
}


.searchListLoadingIndicator {
    background-color: black;
    height: 100%;
    width: 100%;
}
/* .searchListLoadingIndicatorSVG {
    margin: auto;
    height:70px;
} */