:root {
  --border-radius: 15px;
}

.prompt_input {
  min-height: 5vh;
  max-height: 400px;
  line-height: 5vh;
  font-size: 2.14vh;
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary-dark);
  width: 100%;
  color: white;
  padding: 10px;
  border: 1px solid var(--search-border-color-dark);
  resize: none;
  font-family: Roboto, sans-serif;
}

.prompt_input::placeholder {
  color: white;
}
