.prompt_input {
    border-radius: 2px;
    background-color: #181717;
    width: 100%;
    color: white;
    padding: 10px;
    resize: none;
    max-height: 400px;
}

.prompt_submit_button {
    background-color: rgb(110, 110, 153);
    width: 100px;
    height: inherit;
    border-bottom-right-radius: 25;
}