/* @import "tailwindcss"; */

:root {
  --bg-main-dark: #141414;
  --bg-secondary-dark: #2B2B2B;
  
  --search-border-color-dark: #333333;

  --text-main-dark: #ffffff;
  
  --success-message: #4BAE4F;
  --error-message: #F44336;

  --nav-bar-dark: #0B0B0B;
  --img-placeholder-dark: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-main-dark)
}
