.no_action_container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    padding: 10px;
    align-items: center;
    display: flex;
    text-align: center;
}

.no_action_container h1 {
    margin-top: 10vh;
    font-size: 2.14vh;
}

.no_action_container h2 {
    margin-top: 70px;
    font-size: 2.14vh;
}

.no_action_container p {
    margin-top: 10px;
    background-color: var(--bg-secondary-dark);
    border-radius: 5px;
    padding: 10px;
}

.prompt_search_result_container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.prompt_search_result_item {
    padding: 5px;
    background-color: var(--bg-secondary-dark);
    color: white;
}

.prompt_search_result_item_header {
    padding-bottom: 5px;
    display: flex;
    gap: 15px;
}

.prompt_search_result_item_id {
    color: rgb(46, 139, 214);
}

.prompt_search_result_item_title {
    font-size: 20px;
}

.prompt_search_result_item_year {
    font-size: 14px;
}